{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="{% static 'css/success.css' %}"> <!-- Link to your CSS file -->
</head>
<body>
    <h1>Stock added successfully!</h1>
    <div>
        <a href="{% url 'add_stock' %}">Add another stock</a>
        <a href="{% url 'admin_dashboard' %}">Back to Dashboard</a>
    </div>
    <div class="redirect-message" id="redirect-message">
        You will be redirected to the dashboard in <span id="countdown">5</span> seconds.
    </div>

    <script>
        // Countdown Timer for Redirecting
        let countdown = 10;
        const countdownElement = document.getElementById('countdown');

        const timer = setInterval(() => {
            countdown--;
            countdownElement.textContent = countdown;
            if (countdown === 0) {
                clearInterval(timer);
                window.location.href = "{% url 'admin_dashboard' %}"; // Redirect to dashboard
            }
        }, 1000);
    </script>
</body>
</html>
